<section id="footer">
    <div class="footInfo ">
        <div class="container pt-5">
            <div class="row py-4">
                <div class="col-md-4 text-center text-white">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <span>Clark, MO 65243</span>
                </div>
                <div class="col-md-4 text-center text-white">
                    <h3>AROUND THE WEB</h3>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-solid fa-earth-americas"></i></a>
    
    
    
                    </div>
                </div>
                <div class="col-md-4 text-center text-white">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                    
                </div>
              
            </div>
        </div>
        <div class="copyright w-100 text-center py-3 text-white">
            <p>Copyright © Your Website 2021</p>
        </div>
    </div>
</section>