<section id="contact">
    <div class="container mt-5">
        <div class="row ">
            <div class="col-lg-12 text-center my-3">
                <h2 class="section-title title">CONTACT
                    SECTION</h2>
                <div class="star d-flex justify-content-center align-items-center">
                  <div class="line"></div>
                  <i class="fa-solid fa-star mx-3 "></i>
                  <div class="line"></div>
                </div>
              </div>
            <div class="">
                
                  <form class="w-50 mx-auto mt-5">
                    <div class="form-floating mb-3 ">
                        <input type="text" class="form-control " id="floatingName" placeholder="">
                        <label for="floatingInput">userName</label>
                      </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingAge" placeholder="">
                        <label for="floatingInput">userAge</label>
                      </div>
                    <div class="form-floating mb-3 ">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <button class="btn  mt-3 mb-5 ">Send Message</button>
                  </form>
                
            </div>  
        </div>
    </div>
</section>